.Header-TopBarAside{
    flex-basis: auto !important;
}
.Header-IconSpan{
    display: none !important;
}
.Button_subscribeHeader{
height: 1rem !important;
width: 5rem !important;
}
.Header-AsideContainer{
    top: 2rem;
}