.Header-Control {
  align-items: center;
}

.SearchGoogle {
  position: relative;
  &-Icon {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 21;
    margin-right: 0.8125rem;
    cursor: pointer;
    transform: scale(2);
    &:hover {
      transform: scale(2.5);
    }
    max-height: 20px;
  }
  &-Block {
    position: absolute;
    top: -12px;
    right: 0;
    padding-right: 2.625rem;
    z-index: 20;
    .gsc-control-cse {
      padding: 0;
      background-color: transparent;
      border: 0;
      .gsc-control-wrapper-cse {
        background-color: #fff;
        .gsc-results-wrapper-overlay
          .gsc-wrapper
          .gsc-resultsbox-visible
          .gsc-expansionArea
          .gsc-webResult
          .gsc-thumbnail-inside
          .gs-title
          a
          b {
          color: #ea0a0a;
        }
        table.gsc-search-box {
          position: relative;
          td.gsc-input {
            position: absolute;
            width: 250px;
            height: 32px;
            right: 0px;
            display: table-cell;
            padding-right: 0;
            box-shadow: 3px 3px 3px #ccc;
            border-radius: 5px;
            .gsc-input-box{
              border-radius: 5px;
              height: 100%;
              padding: 0;
              table.gsc-input{
                height: 100%;
              }
            }
            input.gsc-input {
              width: 100% !important;
              padding: 0px !important;
              border: none !important;
              margin: 0px !important;
              height: auto !important;
              outline: none !important;
              background: none !important;
              &::placeholder {
                color: transparent;
              }
            }
          }
          td.gsc-search-button {
            position: absolute;
            display: none;
            button.gsc-search-button {
              border-color: #fff;
              background-color: #fff;
              padding: 0 18px;
              svg {
                fill: #000;
                width: 23px;
                height: 23px;
              }
            }
            .gsc-search-button-v2 {
              background-image: none;
              filter: none;
            }
          }
        }
        .gsc-results-wrapper-overlay {
          margin-top: 80px;
          .gsc-wrapper .gsc-resultsbox-visible {
            .gsc-cursor-box .gsc-cursor .gsc-cursor-current-page {
              color: #ea0a0a;
            }
            .gsc-webResult {
              text-align: left;
            }
            .gsc-result {
              border-color: #ffffff;
              background-color: #ffffff;
              .gs-webResult div.gs-visibleUrl,
              .gs-imageResult div.gs-visibleUrl {
                color: #008000;
              }
            }
            .gcsc-find-more-on-google-branding {
              display: none;
            }
            .gcsc-find-more-on-google {
              color: #0000cc;
            }
          }
        }
      }
    }
  }


}


  .Header-Anon {
    max-height: 20px;
  }
  